(
    axes: {
        Vertical: Emulated(pos: Key(Q), neg: Key(R)),
        Horizontal: Emulated(pos: Key(Z), neg: Key(X)),
    },
    actions: {
        Move(North):[[Key(W)]],
        Move(East):[[Key(D)]],
        Move(South):[[Key(S)]],
        Move(West):[[Key(A)]],
        Melee: [[Key(Space)]],
        TypingMode: [[Key(Return)],[Key(Slash)]],
    },
)