AppConfig(
    server_ip: "192.168.0.144:3457",       
    player_name: "machinehum",
    client_ip: "",

    // Don't change below for normal operation
    // None of this is implemented yet. Please
    // see constants.rs for now
    tile_size: 8.0,
    player_move: 16.0,
    tile_per_player: 2,
    action_delay_ms: 500,
    typing_delay_ms: 150,
    player_speed_ms: 500.0,

)
